body{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
}
.calcultor{
    max-width: 500px;
   overflow: hidden;
   border-radius: 15px;
   border: none;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 1%, 26%);
    color: white;
}
#buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    background-color: hsl(0, 0%, 0%);
    padding: 25px;
}
button{
    border-radius: 50px;
    border: none;
    width: 100px;
    height: 100px;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    background-color: hsl(0, 0%, 29%);
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 0%, 26%);
}
button:active{
    background-color: hsl(0, 0%, 20%);
}
@media(max-width:550px) {
    .calcultor{
        max-width: 300px;
    }
    button{
        border-radius: 30px;
        border: none;
        width: 50px;
        height: 50px;
        font-size: 1.5rem;
    }
    #buttons{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 5px;
        background-color: hsl(0, 0%, 0%);
        padding: 25px;
    }
    #display{
        padding: 15px;
        font-size: 2rem;
    }
}
.arithmetic{
    background-color: rgb(243, 158, 0);
}
.arithmetic:hover{
    background-color: rgb(230, 140, 0);
}
.arithmetic:active{
    background-color: rgb(200, 125, 0);
}
